.visuals {
	margin-top: 129px;
}

@media (max-width: 1439px) {
	.visuals {
		margin-top: 60px;
	}
}

@media (max-width: 1279px) {
	.visuals {
		margin-top: 50px;
	}
}

/* === HEADER === */
html {
	font-size: 62.5%;
}

.hide-text {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.hide-text:active, .hide-text:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/* social networks */
.social-networks {
	overflow: hidden;
	line-height: 0;
	margin-bottom: 3rem;
}

.social-networks:last-child {
	margin-bottom: 0;
}

.header .social-networks {
	display: none;
}

.social-networks__list {
	display: inline-block;
	vertical-align: top;
	position: relative;
	font-size: 14px;
	line-height: 1.5;
	letter-spacing: normal;
	margin: 0 -10px;
}

.social-networks__list::after {
	content: '';
	display: table;
	clear: both;
}

@media (max-width: 991px) {
	.social-networks__list {
		margin: 0 -7px;
	}
}

.social-networks__item {
	float: left;
	margin: 5px 10px;
}

@media (max-width: 991px) {
	.social-networks__item {
		margin: 7px;
	}
}

.social-networks__item a {
	display: block;
	position: relative;
	color: inherit;
	transition-property: color, border-color;
	transition-duration: 0.2s;
}

.social-networks__item a span {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.social-networks__item a span:active, .social-networks__item a span:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.social-networks__item a svg {
	display: block;
	width: 20px;
	height: 20px;
}

.social-networks__item a path {
	fill: currentColor;
}

.social-networks__item a:hover {
	color: #ee1c25;
}

.header .social-networks {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	text-align: center;
}

@media (max-width: 1279px) {
	.header .social-networks {
		left: 50px;
	}
}

@media (max-width: 767px) {
	.header .social-networks {
		display: none;
	}
}

.header .social-networks__list {
	display: inline-block;
	vertical-align: top;
	margin: 0;
}

.header .social-networks__item {
	margin: 0;
}

.header .social-networks__item a {
	width: 80px;
	height: 80px;
	background: none;
	border: solid transparent;
	border-width: 2px 0;
}

@media (max-width: 1439px) {
	.header .social-networks__item a {
		width: 60px;
		height: 60px;
	}
}

@media (max-width: 1279px) {
	.header .social-networks__item a {
		width: 50px;
		height: 50px;
	}
}

.header .social-networks__item a svg {
	width: 20px;
	height: 20px;
	position: absolute;
	left: 50%;
	top: 50%;
	-ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

.header .social-networks__item a:hover {
	border-bottom-color: currentColor;
}

/* social networks end */
/* user options */
.user-options {
	display: block;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	right: 0;
	top: 0;
	font-family: "akrobat-regular", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: #282828;
	line-height: 1;
}

.user-options__item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-size: 1.8rem;
	line-height: 1.67;
	letter-spacing: 0.05em;
	min-width: 80px;
	height: 80px;
}

@media (max-width: 1439px) {
	.user-options__item {
		min-width: 60px;
		height: 60px;
	}
}

@media (max-width: 1279px) {
	.user-options__item {
		min-width: 50px;
		height: 50px;
	}
}

.user-options__item > a, .user-options__item > div {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	    justify-content: center;
	-ms-flex-align: center;
	    align-items: center;
	height: 100%;
	padding: 10px;
	color: inherit;
	line-height: 1;
	text-decoration: none;
	text-align: center;
}

.touchevents .user-options__item > a, .touchevents .user-options__item > div {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	-webkit-tap-highlight-color: transparent;
}

.user-options__item > a[data-title]::before, .user-options__item > div[data-title]::before {
	content: attr(data-title);
	display: block;
	min-width: 100%;
	padding: 4px 8px;
	border-radius: 2px;
	position: absolute;
	right: 0;
	top: 100%;
	font-family: "akrobat-light", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.4rem;
	line-height: 20px;
	text-align: center;
	letter-spacing: normal;
	z-index: 2;
	color: white;
	background-color: #ee1c25;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	opacity: 0;
	visibility: hidden;
	-ms-transform: translate(0, -5px);
	    transform: translate(0, -5px);
	transform: translate3d(0, -5px, 0);
	will-change: opacity, transform;
	transition-property: opacity, transform;
	transition-duration: 0.2s;
}

.user-options__item > a svg, .user-options__item > div svg {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
}

@media (max-width: 639px) {
	.user-options__item > a svg, .user-options__item > div svg {
		width: 16px;
		height: 16px;
	}
}

.user-options__item > a svg ~ span, .user-options__item > div svg ~ span {
	padding-left: 12px;
}

@media (max-width: 639px) {
	.user-options__item > a svg ~ span, .user-options__item > div svg ~ span {
		display: none;
	}
}

.user-options__item > a svg ~ span.hide-text, .user-options__item > div svg ~ span.hide-text {
	padding-left: 0;
}

.user-options__item > a path, .user-options__item > div path {
	fill: currentColor;
}

.user-options__item > a > span, .user-options__item > div > span {
	display: inline-block;
	vertical-align: middle;
	font-size: 1.6rem;
	line-height: 1;
	letter-spacing: normal;
	text-align: left;
}

.user-options__item > div {
	cursor: default;
}

.user-options__item > a {
	transition-property: color;
	transition-duration: 0.2s;
}

.user-options__item > a::after {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 2px solid #ee1c25;
	will-change: opacity;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.2s;
}

.no-touchevents .user-options__item > a:hover {
	color: #ee1c25;
}

.no-touchevents .user-options__item > a:hover::after {
	opacity: 1;
}

.no-touchevents .user-options__item > a[data-title]:hover::before, .no-touchevents .user-options__item > div[data-title]:hover::before {
	opacity: 1;
	visibility: visible;
	-ms-transform: translate(0, -50%);
	    transform: translate(0, -50%);
	transform: translate3d(0, -50%, 0);
}

.user-options__item_social {
	display: none;
}

.ms-drop__drop-js {
	opacity: 0;
	visibility: hidden;
}

.is-open .ms-drop__drop-js {
	opacity: 1;
	visibility: visible;
}

.lang-select__drop {
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	min-width: 80px;
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 1.6rem;
	line-height: 1;
	letter-spacing: normal;
	background-color: #fff;
	border: 1px solid #e6e6e6;
}

.lang-select__drop .active-item {
	display: none;
}

.lang-select__drop a {
	display: block;
	padding: 10px 10px;
	color: inherit;
	text-decoration: none;
	white-space: nowrap;
	transition-property: color, background-color;
	transition-duration: 0.2s;
}

.lang-select__drop a:hover {
	color: white;
	background-color: #ee1c25;
}

.lang-select__opener span > i, .lang-select__drop a span > i {
	display: inline-block;
	vertical-align: top;
	width: 16px;
	height: 12px;
	margin: 2px 12px 0 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

@media (max-width: 639px) {
	.lang-select__opener span > i {
		display: none;
	}
}

/* user options */
/* search-form */
.search-form {
	position: relative;
	display: block;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	    align-items: center;
	height: 80px;
	background-color: white;
	font-family: "akrobat-regular", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: #282828;
	font-size: 1.8rem;
	line-height: 1.67;
	letter-spacing: 0.05em;
	z-index: 9998;
}

@media (max-width: 1439px) {
	.search-form {
		height: 60px;
	}
}

@media (max-width: 1279px) {
	.search-form {
		height: 50px;
	}
}

@media (max-width: 991px) {
	.search-form {
		width: 100%;
		position: fixed;
		left: 0;
		top: 50px;
		opacity: 0;
		pointer-events: none;
	}
}

.search-form::before {
	content: "";
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 20px;
	margin: 0;
	pointer-events: none;
	background: rgba(0, 0, 0, 0.15);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 100%);
}

@media (max-width: 991px) {
	.search-form::before {
		display: block;
	}
}

@media (max-width: 991px) {
	.search-is-open .search-form {
		opacity: 1;
		pointer-events: auto;
	}
}

.search-form__field {
	position: relative;
	height: 40px;
	width: 320px;
	margin: 0;
}

@media (max-width: 1439px) {
	.search-form__field {
		height: 40px;
		width: 280px;
	}
}

@media (max-width: 991px) {
	.search-form__field {
		height: 50px;
		width: 100%;
	}
}

.search-form__field label {
	display: none;
}

input.search-form__input {
	height: 40px;
	padding: 10px 45px 10px 20px;
	font-size: 16px;
	line-height: 20px;
	color: inherit;
	width: 100%;
	border-radius: 0;
	border: none;
	background-color: #fff;
	box-shadow: 0 1px 0 currentColor;
}

@media (max-width: 1439px) {
	input.search-form__input {
		height: 40px;
		padding: 10px 45px 10px 20px;
	}
}

@media (max-width: 991px) {
	input.search-form__input {
		height: 50px;
		padding: 15px 45px 15px 20px;
		box-shadow: inset 0 1px 0 #e6e6e6;
	}
}

input.search-form__input, input.search-form__input.error, input.search-form__input.input--has-value {
	box-shadow: 0 1px 0 currentColor;
}

@media (max-width: 991px) {
	input.search-form__input, input.search-form__input.error, input.search-form__input.input--has-value {
		box-shadow: inset 0 1px 0 #e6e6e6;
	}
}

input.search-form__input:hover, input.search-form__input:focus {
	box-shadow: 0 1px 0 #ee1c25;
}

@media (max-width: 991px) {
	input.search-form__input:hover, input.search-form__input:focus {
		box-shadow: inset 0 1px 0 #e6e6e6;
	}
}

.search-form__btn {
	position: absolute;
	right: 10px;
	top: 50%;
	margin: -15px 0 0;
	font-family: "akrobat-regular", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	width: 30px;
	height: 30px;
	color: #282828;
	text-align: center;
	border: none;
	background: none;
	padding: 0;
	z-index: 5;
	will-change: color;
	transition-property: color;
	transition-duration: 0.2s;
}

.search-form__btn input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	border: 0;
	opacity: 0;
	z-index: 99;
}

.search-form__btn svg {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 18px;
	height: 18px;
	margin: -9px 0 0 -9px;
}

.search-form__btn path {
	fill: currentColor;
	transition: inherit;
}

.search-form__btn span {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.search-form__btn span:active, .search-form__btn span:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.no-touchevents .search-form__btn:hover {
	color: #ee1c25;
}

.search-opener, .user-options__item .search-opener {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 80px;
	height: 80px;
	background-color: white;
	color: #282828;
	z-index: 20;
	transition-property: color, border-color;
	transition-duration: 0.2s;
}

@media (max-width: 1439px) {
	.search-opener, .user-options__item .search-opener {
		width: 60px;
		height: 60px;
	}
}

@media (max-width: 1279px) {
	.search-opener, .user-options__item .search-opener {
		width: 50px;
		height: 50px;
	}
}

@media (max-width: 991px) {
	.search-opener, .user-options__item .search-opener {
		display: -ms-flexbox;
		display: flex;
	}
}

.search-opener svg, .user-options__item .search-opener svg {
	display: block;
	width: 20px;
	height: 20px;
}

.search-opener path, .user-options__item .search-opener path {
	fill: currentColor;
	transition: inherit;
}

.no-touchevents .search-opener:hover, .no-touchevents .user-options__item .search-opener:hover {
	color: #ee1c25;
}

@media (max-width: 991px) {
	.search-opener.search-is-open, .user-options__item .search-opener.search-is-open {
		display: none;
	}
}

.search-closer, .user-options__item .search-closer {
	display: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 80px;
	height: 80px;
	color: #282828;
	z-index: 20;
	transition-property: color;
	transition-duration: 0.2s;
}

@media (max-width: 1439px) {
	.search-closer, .user-options__item .search-closer {
		width: 60px;
		height: 60px;
	}
}

@media (max-width: 1279px) {
	.search-closer, .user-options__item .search-closer {
		width: 50px;
		height: 50px;
	}
}

.search-closer svg, .user-options__item .search-closer svg {
	display: block;
	width: 16px;
	height: 16px;
}

.search-closer path, .user-options__item .search-closer path {
	fill: currentColor;
	transition: inherit;
}

.no-touchevents .search-closer:hover, .no-touchevents .user-options__item .search-closer:hover {
	color: #ee1c25;
}

@media (max-width: 991px) {
	.search-closer.search-is-open, .user-options__item .search-closer.search-is-open {
		display: -ms-flexbox;
		display: flex;
	}
}

/* search-form end */
.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	min-width: 320px;
	height: 80px;
	font-family: "akrobat-regular", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: #282828;
	font-size: 1.8rem;
	line-height: 1.67;
	letter-spacing: 0.05em;
	z-index: 9998;
}

.header, .header * {
	box-sizing: border-box;
}

@media (max-width: 1439px) {
	.header {
		height: 60px;
	}
}

@media (max-width: 1279px) {
	.header {
		height: 50px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	}
}

.home-page .header {
	position: relative;
	left: auto;
	top: auto;
	width: auto;
}

@media (max-width: 1279px) {
	.home-page .header {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
	}
}

.header__holder {
	position: relative;
	height: 100%;
	background-color: #fff;
}

.header__holder::after {
	content: '';
	display: table;
	clear: both;
}

/* logo */
.header .logo {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 210px;
	height: auto;
	font-family: "akrobat-regular", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: #282828;
	font-size: 1.8rem;
	line-height: 1.67;
	letter-spacing: 0.05em;
	-ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
}

@media (max-width: 1439px) {
	.header .logo {
		width: 140px;
	}
}

@media (max-width: 991px) {
	.header .logo {
		width: 120px;
	}
}

.header .logo::before {
	content: "";
	display: block;
	height: 0;
	padding-top: 26.67%;
	background-repeat: no-repeat;
	background-position: left;
	background-color: #fff;
	background-image: url(../img/logo.png);
	background-size: contain;
}

.header .logo a, .header .logo > span {
	position: absolute;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
}

.header .logo a > em, .header .logo > span > em {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.header .logo a > em:active, .header .logo a > em:focus, .header .logo > span > em:active, .header .logo > span > em:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.header .logo, body.a .header .logo, body.s .header .logo {
	left: 50%;
	margin-left: 0;
}

@media (max-width: 419px) {
	.header .logo, body.a .header .logo, body.s .header .logo {
		left: 50px;
		-ms-transform: translate(5px, -50%);
		    transform: translate(5px, -50%);
	}
}

/* logo end */
/* === HEADER end === */
/* === NAVIGATION === */
.nav {
	position: fixed;
	left: 0;
	top: 80px;
	width: 100%;
	border-top: 1px solid #e6e6e6;
	font-family: "akrobat-regular", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: #282828;
	font-size: 1.8rem;
	line-height: 1.67;
	letter-spacing: normal;
	text-align: center;
	background-color: #fff;
	z-index: 9997;
	will-change: transform, opacity;
	transition-property: transform, opacity;
	transition-duration: 0.2s;
}

@media (max-width: 1439px) {
	.nav {
		top: 60px;
	}
}

.home-page .nav {
	position: relative;
	left: auto;
	top: auto;
	width: auto;
}

@media (max-width: 1279px) {
	.nav, .home-page .nav {
		position: fixed;
		left: 0;
		top: 50px;
		width: 320px;
		height: calc(100% - 50px);
		background-color: white;
		z-index: 9999;
		-ms-transform: translate(-100%, 0);
		    transform: translate(-100%, 0);
		-ms-transform: translateX(-100%);
		    transform: translateX(-100%);
	}
	.nav.nav-is-open,
	.no-js .nav, .home-page .nav.nav-is-open,
	.no-js .home-page .nav {
		-ms-transform: translate(0, 0);
		    transform: translate(0, 0);
		-ms-transform: translateX(0);
		    transform: translateX(0);
	}
}

@media (max-width: 639px) {
	.nav, .home-page .nav {
		width: 100%;
	}
}

.nav, .nav * {
	box-sizing: border-box;
}

.nav__layout {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	position: relative;
	height: 100%;
}

@media (max-width: 1279px) {
	.nav__layout {
		display: block;
		padding: 0;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.no-touchevents .nav__layout {
		overflow-y: hidden;
	}
	.no-touchevents .nav__layout:hover {
		overflow-y: auto;
	}
}

/* nav list */
.nav__list {
	position: relative;
}

@media (max-width: 1279px) {
	.nav__list {
		width: 320px;
	}
	.touchevents .nav__list {
		width: auto;
	}
}

.touchevents .nav__list {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	-webkit-tap-highlight-color: transparent;
}

.nav__list li {
	position: relative;
}

.nav__list .nav__tab {
	position: relative;
}

.nav__list a {
	display: block;
	position: relative;
	padding: 8px 24px;
	color: #282828;
	text-decoration: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	will-change: color, background-color, border-color;
	transition-property: color, background-color, border-color;
	transition-duration: 0.2s;
}

@media (max-width: 1439px) {
	.nav__list a {
		padding-right: 15px;
		padding-left: 15px;
	}
}

@media (max-width: 1279px) {
	.nav__list a {
		padding-right: 15px;
		padding-left: 15px;
	}
}

.touchevents .nav__list a {
	-webkit-tap-highlight-color: transparent;
}

.nav__list a span {
	font-size: 1.6rem;
	line-height: 1.5;
}

.nav__list, .nav__list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav__drop {
	will-change: opacity, visibility, transform;
	transition-property: opacity, visibility, transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

@media (min-width: 1280px) {
	.nav__drop {
		display: block !important;
		position: absolute;
		left: 0;
		top: 100%;
		width: 280px;
		padding: 0;
		border: 1px solid #e6e6e6;
		background-color: #fff;
		opacity: 0;
		pointer-events: none;
		-ms-transform: translate(-10px, 0);
		    transform: translate(-10px, 0);
		transform: translate3d(-10px, 0, 0);
	}
}

@media (max-width: 1279px) {
	.nav__drop {
		display: none;
	}
}

@media (min-width: 1280px) {
	.hover > .nav__drop {
		opacity: 1;
		pointer-events: auto;
		-ms-transform: translate(0, 0);
		    transform: translate(0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.no-js .nav__drop {
	display: block;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

@media (max-width: 1279px) {
	.nav__list li.has-drop > .nav__tab > a {
		padding-right: 70px;
	}
}

.nav__list li.current > .nav__tab a,
.nav__list li.current > a {
	color: #ee1c25;
}

.nav__list > li {
	float: left;
	height: 49px;
}

@media (max-width: 1279px) {
	.nav__list > li {
		float: none;
		height: auto;
	}
}

.nav__list > li > .nav__tab {
	height: 100%;
}

@media (max-width: 1279px) {
	.nav__list > li > .nav__tab {
		padding: 0;
		height: auto;
	}
}

.nav__list > li > .nav__tab a,
.nav__list > li > a {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	    align-items: center;
	height: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: "akrobat-semibold", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: #282828;
	border: 0 solid transparent;
	border-bottom-width: 2px;
}

@media (max-width: 1279px) {
	.nav__list > li > .nav__tab a,
	.nav__list > li > a {
		border: none;
		padding-top: 12px;
		padding-bottom: 12px;
	}
}

.nav__list > li > .nav__tab a span,
.nav__list > li > a span {
	font-size: 2rem;
	line-height: 1.2;
}

@media (max-width: 1439px) {
	.nav__list > li > .nav__tab a span,
	.nav__list > li > a span {
		font-size: 1.8rem;
	}
}

@media (min-width: 1280px) {
	.nav__list > li.hover > .nav__tab a,
	.nav__list > li.hover > a {
		border-color: #ee1c25;
		color: #ee1c25;
	}
}

.nav__angle {
	position: absolute;
	right: 0;
	top: 0;
	width: 60px;
	height: 100%;
	transition-property: transform, color, background-color;
	transition-duration: 0.2s;
	z-index: 2;
	cursor: pointer;
	display: none;
}

.touchevents .nav__angle {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	-webkit-tap-highlight-color: transparent;
}

@media (max-width: 1279px) {
	li.has-drop > .nav__tab > .nav__angle {
		display: block;
	}
}

.nav__angle i {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 20px;
	margin: -10px 0 0 -10px;
	background-color: #ee1c25;
	border-radius: 10px;
	pointer-events: none;
	transition-property: transform;
	transition-duration: 0.2s;
	font-size: 0;
	line-height: 0;
}

.nav__angle i::before, .nav__angle i::after {
	content: "";
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 2px;
	width: 10px;
	margin: -1px -5px;
	border-radius: 2px;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	background-color: white;
	transition-property: background-color, transform;
	transition-duration: 0.2s;
}

.nav__angle i::after {
	-ms-transform: rotate(0.25turn);
	    transform: rotate(0.25turn);
}

li.is-open > .nav__tab .nav__angle i::before, li.is-open > .nav__tab .nav__angle i::after {
	-ms-transform: rotate(0);
	    transform: rotate(0);
}

.nav__drop a {
	color: #282828;
}

@media (max-width: 1279px) {
	.nav__drop a {
		padding-left: 30px;
	}
}

@media (min-width: 1280px) {
	.nav__drop li.hover > .nav__tab a,
	.nav__drop li.hover > a {
		background-color: #ee1c25;
		color: white;
	}
}

.nav__drop .nav__drop {
	top: -1px;
	left: 100%;
}

@media (max-width: 1279px) {
	.nav__drop .nav__drop {
		left: auto;
	}
}

@media (max-width: 1279px) {
	.nav__drop .nav__drop a {
		padding-left: 45px;
	}
}

/* nav list */
a.nav-opener {
	display: none;
	position: fixed;
	left: 0;
	top: 25px;
	margin-top: -25px;
	z-index: 9998;
	width: 50px;
	height: 50px;
	text-decoration: none;
	font-family: "akrobat-regular", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 1.8rem;
	line-height: 1.67;
	letter-spacing: 0.05em;
	color: #282828;
	background-color: white;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	-webkit-tap-highlight-color: transparent;
}

@media (max-width: 1279px) {
	a.nav-opener {
		display: block;
	}
}

.touchevents a.nav-opener {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	-webkit-tap-highlight-color: transparent;
}

a.nav-opener > span {
	position: absolute;
	left: 100%;
	top: 0;
	height: 100%;
	padding-right: 5px;
	padding-left: 5px;
	font-family: "akrobat-bold", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 50px;
	display: none;
}

@media (max-width: 767px) {
	a.nav-opener > span {
		display: block;
	}
}

@media (max-width: 419px) {
	a.nav-opener > span {
		display: none;
	}
}

a.nav-opener::before, a.nav-opener::after {
	content: "";
	display: block;
	position: absolute;
	width: 24px;
	height: 2px;
	background-color: #ee1c25;
	top: 50%;
	left: 50%;
	margin-top: -1px;
	margin-left: -12px;
	will-change: opacity, transform;
	opacity: 0;
	transition-property: transform, opacity;
	transition-duration: 0.2s;
	transition-delay: 0s;
	transition-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
}

@media (max-width: 419px) {
	a.nav-opener::before, a.nav-opener::after {
		background-color: currentColor;
	}
}

a.nav-opener > i {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 24px;
	height: 2px;
	background-color: #ee1c25;
	margin-top: --1px;
	margin-left: -10px;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	transition-property: opacity;
	transition-duration: 0.2s;
	transition-delay: 0.1s;
}

@media (max-width: 419px) {
	a.nav-opener > i {
		background-color: currentColor;
	}
}

a.nav-opener > i::before, a.nav-opener > i::after {
	content: "";
	display: block;
	position: absolute;
	left: -3px;
	width: 24px;
	height: 2px;
	background-color: #ee1c25;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	transition-property: transform;
	transition-duration: 0.2s;
	transition-delay: 0.1s;
}

@media (max-width: 419px) {
	a.nav-opener > i::before, a.nav-opener > i::after {
		background-color: currentColor;
	}
}

a.nav-opener > i::before {
	top: -7px;
}

a.nav-opener > i::after {
	top: 7px;
}

.no-touchevents a.nav-opener:hover::before, .no-touchevents a.nav-opener:hover::after {
	background-color: #ee1c25;
}

.no-touchevents a.nav-opener:hover > i {
	background-color: #ee1c25;
}

.no-touchevents a.nav-opener:hover > i::before, .no-touchevents a.nav-opener:hover > i::after {
	background-color: #ee1c25;
}

a.nav-opener.nav-is-open {
	background-color: #fff;
}

a.nav-opener.nav-is-open::before, a.nav-opener.nav-is-open::after {
	transition-delay: 0.1s;
	opacity: 1;
}

a.nav-opener.nav-is-open::before {
	transform: rotate(45deg) translateZ(0);
}

a.nav-opener.nav-is-open::after {
	transform: rotate(-45deg) translateZ(0);
}

a.nav-opener.nav-is-open > i {
	opacity: 0;
	transition-delay: 0s;
}

a.nav-opener.nav-is-open > i::before, a.nav-opener.nav-is-open > i::after {
	transition-delay: 0s;
}

a.nav-opener.nav-is-open > i::before {
	transform: translate(0, 7px) translateZ(0);
}

a.nav-opener.nav-is-open > i::after {
	transform: translate(0, -7px) translateZ(0);
}

.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.35);
	z-index: 9998;
	box-sizing: border-box;
	opacity: 0;
	visibility: hidden;
	will-change: opacity, visibility;
	transition-property: opacity, visibility;
	transition-duration: 0.2s;
}

.overlay.nav-overlay {
	top: 50px;
	height: calc(100% - 50px);
}

@media (min-width: 1280px) {
	.overlay.open-only-mob {
		display: none;
	}
}

.overlay.nav-is-open {
	opacity: 1;
	visibility: visible;
}

.overlay.filters-is-open, .overlay.request-is-open {
	opacity: 1;
	visibility: visible;
}

/* navigation end */
/* === NAVIGATION end === */

/*# sourceMappingURL=header.css.map */
